name: Release
on:
  push:
    tags: ["v*"]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: npm ci && npm run build

    - name: Create Release
      uses: softprops/action-gh-release@v2